---
import Layout from '@/layouts/Layout.astro'

import { Button } from "@/components/ui/button"
import { Card, CardContent, CardHeader } from "@/components/ui/card"
import { CtaButton } from "@/components/add-to-chrome-button"
import { Chrome } from "lucide-react"

import { Power } from "lucide-react"

import { ScreenshotGallery } from '@/components/screenshot-gallery'
import { getLangFromUrl, useTranslation } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
const { t } = useTranslation(lang)

import { getImage, Image } from 'astro:assets'

import MonaLisaPixelated from '@/assets/mona-lisa-pixelated.png'
import GmailScreenshot from '@/assets/gmail-screenshot.png'
import SearchScreenshot from '@/assets/search-screenshot.png'
import SocialMediaScreenshot from '@/assets/social-media-screenshot.png'
import OptionsPageScreenshot from '@/assets/options-page.png'
import TwoClickScreenshot from '@/assets/2-click-screenshot.png'


const images = await Promise.all(
  [
    GmailScreenshot,
    SearchScreenshot,
    SocialMediaScreenshot,
  ].map(im => getImage({src: im}))
)

const metadata = [
  {
    title: "Проверяй почту",
    alt: "Пример почтового приложения",
  },
  {
    title: "Ищи в поиске",
    alt: "Пример поискового приложения",
  },
  {
    title: "Общайся в социальных сетях",
    alt: "Пример социальной сети",
  },
]

const screenshots = images.map((im, idx) => {
  const meta = metadata[idx]
  return {
    ...im,
    ...meta,
  }
})
---

<Layout>

<section
  class="bg-gradient-to-bl from-purple to-purple-alternative rounded py-8 flex flex-col items-center"
>

  <div
    class="max-w-3xl w-full grid grid-cols-1 sm:grid-cols-2 items-center justify-items-center gap-4"
  >

    <div class="flex justify-center flex-col items-center gap-8">

    <h2 class="text-primary text-4xl font-semibold text-center max-w-sm">
      <span class="opacity-80">Меньше отвлекайся</span>
      <strong class="font-extrabold">Уничтожая</strong>
      <span class="opacity-80">Триггеры</span>
    </h2>


    <CtaButton lang={lang}/>

    <Button
      className="px-8 py-6 text-xl rounded-full"
      variant="outline"
    >
      <Power
        className="w-8 h-8"
        strokeWidth={3}
      />
      Включить Pixelify
    </Button>

    </div>

      <Image
        src={MonaLisaPixelated}
        alt={t('mona-lisa-alt')}
        width={330 * 2}
        height={493 * 2}
        class="rounded shadow-lg w-full max-w-64"
        format="webp"
        loading="eager"
      />

  </div>

</section>


<section class="w-full px-4 py-8 flex flex-col items-center">
  <div
    class="max-w-3xl w-full py-8 flex flex-col sm:flex-row items-center"
  >
    <ScreenshotGallery screenshots={screenshots} client:load />

    <div class="pt-16 flex justify-center flex-col items-center gap-8">
    <h3 class="text-2xl font-medium">
      Работай
    </h3>

    <p class="text-muted-foreground text-4xl font-semibold text-center max-w-sm text-center">
      Цель Pixelify - 
      <strong class="font-extrabold text-purple-foreground">Увеличить твою Продуктивность</strong>.
    </p>

    <CtaButton lang={lang}/>

    </div>
</div>


</section>


<section class="p-4 py-8 flex flex-col items-center">
  <div class="max-w-3xl w-full sm:px-8">
    <h2 class="text-2xl font-bold py-2 max-w-prose">
      Легко контроллируй заблокированные сайты
    </h2>
    <p class="text-muted-foreground text-md pb-6 max-w-prose">
      Ставь светлую или тёмную тему, если угодно.
      Блокируй навязчивые сайты и устремляйся к совершенству!
    </p>
    <Image
      src={OptionsPageScreenshot}
      alt={"Настройки приложения"}
      width={822*2}
      height={493*2}
      class="shadow-lg"
      format="webp"
    />
  </div>
</section>

<section class="p-4 py-8 flex flex-col items-center">
  <div class="max-w-3xl w-full sm:px-8 flex flex-col items-end">
    <h2 class="text-2xl font-bold py-2 max-w-prose">
      Pixelify - это про
      <strong>Скорость и Эффективность</strong>.
    </h2>
    <p class="text-muted-foreground text-md pb-6 max-w-prose">
      Заблокируй сайт в два клика,
      после этого картинки будут автоматически скрываться.
      Временно отключи скрытие на текущем сайте в два клика!
    </p>
    <Image
      src={TwoClickScreenshot}
      alt={"Пример взаимодействия"}
      width={1165*2}
      height={632*2}
      class="rounded-lg shadow-lg"
      format="webp"
    />
  </div>
</section>

</Layout>
